<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--            指定日志输出格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SS}] [%p] - %l - %m%n"/>
        </Console>

        <!--                    <RollingFile name="RollingFileInfo" fileName="C:/Users/life/Desktop/goInfo.log"-->
        <RollingFile name="RollingFileInfo" fileName="/root/SchoolEpidemic/goInfo.log"

                     filePattern="Y:/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log}">
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
        </RollingFile>

    </appenders>
    <loggers>
        <root level="INFO">
            <!--                        <appender-ref ref="Console"/>-->
            <appender-ref ref="RollingFileInfo"/>
        </root>
    </loggers>
</configuration>