<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>统计人数查询条件</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/count/queryInPeriod}">
        <table>
            <tr>
                <td>请输入查询条件:</td>
                >
                <td>起止：<input th:name="StartTime" th:type="text"></td>
                <td>结束：<input th:name="endTime" th:type="text"></td>
                <td>查询地点:<input th:name="Location" th:type="text"></td>
                >
            </tr>
            <tr>
                <td><input th:value="提交" type="submit"></td>
                >
            </tr>
        </table>
    </form>
</div>
<div>
    <form method="post" th:action="@{/count/queryAtPoint}">
        <table>
            <tr>
                <td>请输入查询条件:</td>
                >
                <td>时间：<input th:name="StartTime" th:type="text"></td>
                <td>查询地点:<input th:name="Location" th:type="text"></td>
                >
            </tr>
            <tr>
                <td><input th:value="提交" type="submit"></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <form method="post" th:action="@{/count/queryInPeriodInAllBuilding}">
        <table>
            <tr>
                <td>请输入查询时间段:</td>
                >
                <td>起始时间：<input th:name="StartTime" th:type="text"></td>
                <td>截止时间:<input th:name="EndTime" th:type="text"></td>
                >
            </tr>
            <tr>
                <td><input th:value="提交" type="submit"></td>
                >
            </tr>
        </table>
    </form>
</div>

</body>
</html>