<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>统计人数查询条件</title>
</head>
<body>
<div>
    <form th:action="@{/count/queryInPeriod}" method="post">
        <table>
            <tr>
                <td>请输入查询条件:</td>
                >
                <td>起止：<input th:type="text" th:name="StartTime"></td>
                <td>结束：<input th:type="text" th:name="endTime"></td>
                <td>查询地点:<input th:type="text" th:name="Location"></td>
                >
            </tr>
            <tr>
                <td><input type="submit" th:value="提交"></td>
                >
            </tr>
        </table>
    </form>
</div>
<div>
    <form th:action="@{/count/queryAtPoint}" method="post">
        <table>
            <tr>
                <td>请输入查询条件:</td>
                >
                <td>时间：<input th:type="text" th:name="StartTime"></td>
                <td>查询地点:<input th:type="text" th:name="Location"></td>
                >
            </tr>
            <tr>
                <td><input type="submit" th:value="提交"></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <form th:action="@{/count/queryInPeriodInAllBuilding}" method="post">
        <table>
            <tr>
                <td>请输入查询时间段:</td>
                >
                <td>起始时间：<input th:type="text" th:name="StartTime"></td>
                <td>截止时间:<input th:type="text" th:name="EndTime"></td>
                >
            </tr>
            <tr>
                <td><input type="submit" th:value="提交"></td>
                >
            </tr>
        </table>
    </form>
</div>

</body>
</html>