<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>trackPage</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/track/trackSinglePeople}">
        <input th:name="Id" th:type="text"><br>
        <input th:name="startTime" th:type="text"><br>
        <input th:name="endTime" th:type="text"><br>
        <input type="submit" value="查询">
    </form>
</div>
<div>
    <form method="post" th:action="@{/track/trackRelatedPeople}">
        <input th:name="Id" th:type="text"><br>
        <input th:name="startTime" th:type="text"><br>
        <input th:name="endTime" th:type="text"><br>
        <input type="submit" value="查询">
    </form>
</div>
</body>
</html>